* {
  font-family: "Courier New", Courier, monospace;
}

.card {
  width: 90%;
  max-width: 1000px;
  background: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  color: #fff;
  margin: 30px auto 0;
  border-radius: 20px;
  padding: 40px 30px;
  text-align: center;
}

.search {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 40px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.search button i {
  font-size: 20px;
}

.weather-icon {
  width: 150px;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin: 10px auto 20px auto;
}

.weather h3 {
  font-size: 25px;
  margin: 20px auto 10px auto;
  font-weight: 400;
}

.details {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 14px;
}

.col img {
  width: 60px;
}

.humidity,
.wind {
  font-size: 16px;
}

.container,
.error {
  display: none;
}

.container {
  margin-top: 10px;
  justify-content: space-evenly;
}

.weather {
  width: 35%;
}

.vl {
  background-color: rgb(204, 204, 204);
  height: 350px;
  width: 2px;
}

.weather-props {
  width: 60%;
}

.suntime {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
  flex-direction: row;
}

#sun1,
#sun2 {
  width: 50px;
}

a {
  display: block;
  margin-top: 2%;
  margin-left: 38%;
}
